 :root {
    --preto-principal: #0B0A0A;
    --azul-secundario: #167BF7;
    --botão-cinza:     #9A8E8E;
    --cor-de-fundo:    #FFFFFF;

 body {
     background-color: var(--cor-de-fundo);
    }

 *{   margin: 0;
        padding:0;

}